<%- include('partials/header.ejs') -%>
<h2>
    Contact me
</h2>
<p>Mail: <a href="mailto:<%= contact.mail%>"><%= contact.mail%></a></p>
<p>Instagram: <a href="<%= contact.instagram%>">t3ssk</a></p>
<p>Github: <a href="<%= contact.github%>">t3ssk</a></p>

<%- include('partials/footer.ejs') -%>